:root {
  --main-title-color: #212121;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-left {
  color: var(--accent-color);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

.header-list .active-link {
  color: var(--accent-color);
}
/* ----------------HEADER------------- */

.header-link,
.header-tel,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:focus,
.header-link:hover {
  color: var(--accent-color);
}

.header-tel,
.header-mail {
  color: var(--main-text-color);
}

.header-tel:hover,
.header-mail:hover,
.header-tel:focus,
.header-mail:focus {
  color: var(--accent-color);
}
/* ++++++++++++++++++INDEX.HTML++++++++++++++++++ */

/* ----------------HERO------------- */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: peru;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* ----------------FEATURES------------- */

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ----------------DIRECTIONS------------- */

.directions-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

/* ----------------TEAM------------- */

.team-text,
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item-title {
  color: var(--secondary-title-color);
}

/* ----------------FOOTER------------- */

.footer-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: peru;
}

.footer-link-map {
  color: #ffffff;
}

.footer-link-mail,
.footer-link-tel {
  color: rgba(255, 255, 255, 0.6);
}

/* ++++++++++++++++++PORTFOLIO.HTML++++++++++++++++++ */

/* ----------------PORTFOLIO------------- */

.button-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  background-color: #f5f4fa;
  cursor: pointer;
}

.button-btn:hover,
.button-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
